<app-tweet class="block w-full border-b border-slate-200"></app-tweet>
<app-tweet class="block w-full border-b border-slate-200"></app-tweet>
<app-tweet class="block w-full border-b border-slate-200"></app-tweet>
<app-tweet class="block w-full border-b border-slate-200"></app-tweet>
<app-tweet class="block w-full border-b border-slate-200"></app-tweet>
<app-tweet class="block w-full border-b border-slate-200"></app-tweet>
<app-tweet class="block w-full border-b border-slate-200"></app-tweet>
<app-tweet class="block w-full border-b border-slate-200"></app-tweet>
<app-tweet class="block w-full border-b border-slate-200"></app-tweet>
<app-tweet class="block w-full border-b border-slate-200"></app-tweet>
