<div class="flex flex-row gap-3 p-4">
  <div class="flex items-start">
    <span class="rounded-full bg-blue p-4 font-medium text-white">CN</span>
  </div>

  <div class="flex w-11/12 flex-row gap-3">
    <div>
      <div class="flex flex-row items-baseline gap-1">
        <span class="font-medium">{{ tweet.user.fullname }}</span>
        <span class="text-sm text-slate-400">{{
          tweet.user.username | username
        }}</span>
        <span class="text-sm text-slate-400">·</span>
        <span class="text-sm text-slate-400">1h</span>
      </div>
      <div>
        <p>
          {{ tweet.text }}
        </p>
      </div>
      <div class="mt-2 flex flex-row gap-24 text-slate-600">
        <div *ngFor="let action of actionbar">
          <fa-icon class="h-2 w-2" [icon]="action.icon"></fa-icon>
          <span class="ml-2 text-sm">{{ action.value }}</span>
        </div>
      </div>
    </div>
  </div>

  <div>
    <span class="font-bold text-slate-700">...</span>
  </div>
</div>
