<div
  class="container flex h-full w-fit flex-col justify-between pt-4 pb-6 pr-8"
  *ngIf="currentUser$ | async as user"
>
  <div class="flex flex-col gap-y-8">
    <fa-icon class="text-3xl text-blue" [icon]="logo"></fa-icon>
    <ul class="flex flex-col gap-y-5">
      <li class="flex items-baseline" *ngFor="let option of navbarOptions">
        <fa-icon class="mr-8 h-8 w-8 text-3xl" [icon]="option.icon"></fa-icon>

        <span class="text-xl">{{ option.value }}</span>
      </li>
    </ul>
    <button
      class="h-12 w-60 rounded-3xl bg-blue text-xl font-medium text-white"
    >
      Twittear
    </button>
  </div>

  <app-account-selector [fullname]="user.fullname" [username]="user.username">
  </app-account-selector>
</div>
